In [1]:
#1
n = 4  # Number of rows
num = 1

for i in range(1, n+1):
    for j in range(1, i+1):
        print(num, end=" ")
        num += 1
    print()  # Move to the next line after each row

1
2 3
4 5 6
7 8 9 10

In [2]:
#2
n = 5  # Number of rows

for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [3]:
#3
n = 5  # Number of rows

for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [4]:
#4
n = 5  # Number of rows

for i in range(n, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [5]:
#5
n = 5  # Number of rows

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
#6
n = 5  # Number of rows
num = 1

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
#7
n = 5  # Diamond half height

# Upper half
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

# Lower half
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [8]:
#8
n = 5  # Number of rows

for i in range(1, n + 1):
    print(' '.join(str(i) for _ in range(i)))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
#9
n = 5  # Number of rows

for i in range(1, n + 1):
    print(' '.join(str(i) for _ in range(i)))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
#10
n = 5  # Half height of the diamond

# Upper half
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end="")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

# Lower half
for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(" ", end="")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *